/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
/*}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
/*    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
/*    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
/*    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
/*.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
/*    position:absolute;             /* position in the center of the screen */
/*    left:50%;
    top:50%;
    height:50px;                   /* text area height */
/*    width:225px;                   /* text area width */
/*    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
/*    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
/*        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
/*    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------------------------------------------------------------------------------------- */

body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    max-height: 100vh;
    line-height: 15px;
    font-size: 12px;
}

.nodisplay {
    display: none;
}

@keyframes blink {
    0% {
        border-color: #27DEF2;
        color: #27DEF2;
	}
	50% {
		border-color: #FFFF05;
        color: #FFFF05;
	}
	100% {
		border-color: #F205B3;
        color: #F205B3;
	}
}

h1{
    color: #FFFF05;
    text-align: center;
    animation: blink 3s ease infinite;
    animation-direction: alternate;
    font-size: 2em;
    margin-right: 25%;
}

h1+button {
    margin-right: 10%;
    height: 2em;
}

#userlist {
    display: flex;
    flex-flow: column;
    min-height: 75vh;
    background-color: transparent;
    border-style:dashed;
    border-color: #F205B3;;
    border-width: 2px;
    width: 85%;
    color: whitesmoke;
    border-radius: 10px;
}

.horiflex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.vertiflex {
    display: flex;
    flex-flow: column;
}

.justifycenter {
    justify-content: center;
}

.justifybetween {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}

.centerer {
    width: 40%;
    margin:0 auto;
}

.posrel {
    position: relative;
}

.generalwidth {
    width: 85%;
    padding: 5% 0%;
}

article > img {
    width: 4em;
}

img + span {
    width: 50%;
}

span+span {
    width: 20%;
}

div>span {
    font-size: 1em;
}

.creator {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form div {
    width: 70%;
}

form img {
    width: 5em;
}

.formbackground {
    background-color: rgba(233, 233, 233, 0.9);
    width: 50%;
    padding: 7% 0%;
    border-radius: 5px;
}

.creatortitle {
    margin-bottom: 5%;
}

form {
    z-index: 4;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
    width: 80%;
    height: 50vh;
}

div input {
    height: 3vh;
}

.autowidth {
    width: auto;
}

h5 {
    width: 80%;
    text-align: center;
    margin-bottom: 2%;
}

.resetwidth {
    width: 80%;
}

.resetwidth button {
    width: 47%;
    margin: 1.5%;
    padding: 3%;
    box-sizing: border-box;
    border-radius: 5px;
}

.edit {
    z-index: 2;
    position: absolute;
    top:70%;
    right: 2%;
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
}

.creatorconfirm {
    margin-top: 3%;
    font-size: 2em;
    width: 40%;
    height: 10vh;
}

.graybackground {
    color: whitesmoke;
}

.userdiv {
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-style:dashed;
    border-color: #FFFF05;
    border-bottom-width: 2px;
}

.profileIMG {
    width: 25%;
    object-fit: cover;
    border-radius: 50%;
    padding: 3% 2%;
}

.profilename {
    width: 50%;
    font-size: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 3%;
}

.profilenick {
    width: 30%;
    font-size: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.createUserButton {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border-style: dashed;
    border-color:#F205B3;
    font-size: 2.5em;
    color: #FFFF05;
    background-color: transparent;
}

form > div >input, form > div > div > button {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: burlywood;
}

form > div > div >button {
    width: 48%;
    height: 7vh;
}

form > div:last-of-type {
    padding: 2%;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
}

form > div:last-of-type > label {
    color: whitesmoke;
}

#leimg {
    padding: 3%;
    border-radius: 50%;
}

.buttonCleanser {
    text-decoration: none;
    border-style: dashed;
    border-color:#F205B3;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 10px;
}

#endme {
    text-decoration: none;
    background-color: black;
    color: #F205B3;
    font-size: 1.5em;
    border-radius: 50%;
    position: absolute;
    width: 2em;
    height: 2em;
    right: 5%;
    top: 3%;
}

.resetButton {
    text-decoration: none;
    border-style: dashed;
    border-color:#F205B3;
    border-width: 3px;
    border-radius: 10px;
    padding: 3% 10%;
    background-color: transparent;
    color: whitesmoke;
    margin-top: 5%;
}


@media (orientation: portrait) {
    html {font-size: 14px;}
    .centerer {
        width: 100%;
    }
    .formbackground {
        width: 90%;
    }

    .creatorconfirm {
        width: 60%;
    }
    form > div {
        margin-bottom: 5%;
        box-sizing: border-box;
    }
}

@media (orientation: landscape) {
    .centerer {
        width: auto;
    }
    .profileIMG {
        width: 15%;
    } 
    .generalwidth {
        padding: 2% 0%;
    }
    .userdiv {
        padding: 2%;
    }
    .resetButton {
        margin-bottom: 2%;
    }
    h5 {
        line-height: 20px;
        margin-bottom: 5%;
    }
    .formbackground {
        width: 70%;
    }
    form {
        height: auto;
        width: 80%;
        padding: 2%;
    }
    form > div {
        margin-bottom: 3%;
    }
    .creatortitle {
        margin-bottom: 2%;
    }
    #endme {
        top:13%
    }
    
}