/*------------------------ RESET CSS ------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------ FIN RESET CSS ------------------------*/

@keyframes blink {
    0% {
        border-color: #27DEF2;
        color: #27DEF2;
	}
	50% {
		border-color: #FFFF05;
        color: #FFFF05;
	}
	100% {
		border-color: #F205B3;
        color: #F205B3;
	}
}

/*------------ IDs -------------*/

#container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*------------ CLASES -------------*/

.nodisplay {
	display: none;
}

.options {
	font-family: 'Varela Round', sans-serif;
	font-size: 1em;
	padding: 5px 20px 5px 20px;
	margin-bottom: 2%;
	margin-left: 2%;
}

.vertiflex {
	display: flex;
	flex-direction: column;
}

.boxdisplay {
	display: block;
}

.gray {
	background-color: lightgray;
}

.cyan {
	background-color: cyan;
}

.difficulties {
	width: 70%;
	align-self: center;
}

.time {
	align-self: center;
	text-align: center;
	font-size: 2em;
	width: 80%;
	margin-top: 5%;
	border-style: solid;
	border-width: 0.08em;
}

.minibox {
	padding: 5% 10%;
}

.centerme {
	width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profileimage {
	width: 15%;
}

.name {
	width: 60%;
}

.leftside {
	width: 20%;
}

.score {
	width:35% ;
}

.horiflex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/*------------ GENERALES -------------*/

body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    max-height: 100vh;
	color: white;
	line-height: 20px;
}

h1 {
	font-size: 2em;
	/*font-family: 'Varela Round', sans-serif;*/
	font-weight: 900;
	margin-bottom: 5%;
	margin-top: 2%;
	text-align: center;
	color: #FFFF05;
    text-align: center;
    animation: blink 3s ease infinite;
    animation-direction: alternate;
}

p {
	margin-bottom: 10%;
	text-align: center;
}


#container > div:nth-of-type(2) figure {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#container > div:nth-of-type(2) figure img {
	border-radius: 50%;
	width: 100%;
}

#container > div:nth-of-type(2) span {
	padding-left: 5%;
	overflow: hidden;
	text-overflow: ellipsis;
}

select:hover {
	background-color: rgb(112, 112, 112);
}

button {
	text-decoration: none;
	border: none;
	font-family: 'Varela Round', sans-serif;
	font-size: 1em;
	padding: 7px 15px 7px 15px;
	margin-bottom: 2%;
	margin-left: 2%;
	color: white;
	background-color: black;
}

button:hover {
	background-color: rgb(112, 112, 112);
}

td {
	padding-bottom: 1%;
}

td img {
	/*max-width: 100%;
	max-height: 100%;*/
	/*object-fit: cover;*/
	width: 90%;
	height: auto;
}

img:hover {
	opacity: 90%;
}

@media (orientation: landscape) {
	#container > div {
		width: 45%;
	}
	table {
		width: 100%;
	}
	#container div > div:not(*[class="nodisplay"]) {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1%;
	}
	.portraitTitles{
		display: none;
	}
	#container{
		flex-direction: row;
		justify-content: space-around;
	}
	.scoredisplay{
		width:45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.scoredisplay div:nth-of-type(2){
		display: flex;
		flex-direction: row;
	}
	.scoredisplay div:nth-of-type(2){
		display: flex;
		flex-direction: row;
		font-size: 0.8em;
	}
	.scoredisplay div:nth-of-type(1){
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (orientation:portrait) {
	#container > div:nth-of-type(2) {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 10%;
		width: 100%;
	}	
	.landscapeTitles {
		display: none;
	}

	.scoredisplay{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10%;
	}
	.scoredisplay div:nth-of-type(2){
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		margin-top:5%;
	}
	.scoredisplay div:nth-of-type(1){
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#container > div:nth-of-type(2) {
		border-radius: 50%;
		width: 90%;
	}
	#player {
		font-size: 0.7em;
	}
	
}